.App-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #141024;
    padding: 20px 0;
}

.footerBlockLeft {
    display: flex;
    flex-direction: column;
}

.footerBlockLeft span {
    color: #FFFFFF;
    font-size: 16px;
}

.footerBlockRight {
    display: flex;
    flex-direction: column;
}

.footerBlockRight h1 {
    margin: 0;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
    .App-footer {
        flex-direction: column;
        text-align: center;
        width: 103%;
    }

    .footerBlockLeft,
    .footerBlockRight {
        margin-bottom: 20px;
    }
}


