.infoNumber {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #D52027;
}

.infoNumber span {
    margin: 0;
    color: #141024;
    font-size: 15px;
}
.infoNumber h1 {
    font-size: 80px;
}
@media screen and (max-width: 1024px) {
    .infoNumber {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .infoNumber h1 {
        font-size: calc(40px + 2 * ((100vw - 320px) / 448));
        margin-bottom: 10px; /* Добавили отступ снизу */
    }
}