.Nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
    background-color: #141024;
    z-index: 100;
}

.navLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navLink a {
    margin: 15px;
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 20px;
}

.Nav-menu h1 {
    font-size: 30px;
    margin: 0;
}

.navLink p {
    margin: 0;
}
